<header>
  <input [(colorPicker)]="color" [style.background]="color"/>

  <select  [(ngModel)]="fontSize">
    <option value="10px">10</option>
    <option value="12px">12</option>
    <option value="14px">14</option>
    <option value="16px">16</option>
    <option value="18px">18</option>
    <option value="20px">20</option>
    <option value="22px">22</option>
  </select>

  <label for="fontWeight"><input type="checkbox" [(ngModel)]="fontWeight" id="fontWeight">Bold </label>
  <label for="fontItalic"><input type="checkbox" [(ngModel)]="fontStyle" id="fontItalic">Italic </label>
  <label for="fontUnderline"><input type="checkbox" [(ngModel)]="textDecoration" id="fontUnderline">Underline</label>

</header>



<main>
  <div>

    <label for=title>
      <h2 [ngStyle]="applyStyle(cTitle)">
        <input type="checkbox" [(ngModel)]="cTitle" id="title">
        <span>{{ 'title' | translate }}</span>
      </h2>
    </label>

    <label for=para>
      <p  [ngStyle]="styles.para">
        <input type="checkbox" [(ngModel)]="cPara" id="para">
        <span>{{ 'para' | translate }}</span>
      </p>
    </label>

    <label for="link">

    <a href="{{'link'}}"  [ngStyle]="styles.link">
      <input type="checkbox" [(ngModel)]="cLink" id="link">
       <span>{{ 'linkText' | translate}}</span>
      </a>
    </label>

    <div>
      <button (click)="useLanguage('en')" [class.active]="curLang === 'en'">English</button>
      <button (click)="useLanguage('hi')" [class.active]="curLang === 'hi'">Hindi</button>
      <button (click)="useLanguage('zh')" [class.active]="curLang === 'zh'">Chinease</button>
    </div>
  </div>
</main>



<router-outlet></router-outlet>
